@import url("https://fonts.googleapis.com/css?family=Dosis");
* { box-sizing: border-box; margin: 0; padding: 0; font-family: Dosis; list-style-type: none; border: none; }

main { background: url(https://images.pexels.com/photos/421927/pexels-photo-421927.jpeg?w=1920&h=1080&auto=compress&cs=tinysrgb) no-repeat center/cover; height: 100vh; }

main .container { margin: 0 auto; max-width: 600px; max-height: 100vh; }

main .container h1 { padding: 60px 20px 30px; text-align: center; }

main .container button { margin: 20px auto; display: block; }

main .container input { display: block; margin: 20px auto 42vh; background: inherit; outline: none !important; border-bottom: .5px solid #fff; padding: 5px 10px; font-size: 20px; color: #fff; line-height: 25px; width: 230px; text-align: center; }

main .container input:-ms-input-placeholder { color: #fff; }

main .container input::placeholder { color: #fff; }

main .container input:focus:-ms-input-placeholder { opacity: .5; }

main .container input:focus::placeholder { opacity: .5; }

main .container input:focus { border: .5px solid #fff; border-radius: 10px; }

main .container .row { max-height: 190px; overflow-y: auto; }

main .container .row [class^="col-"] { float: left; }

main .container .row [class^="col-"] h2 { padding-bottom: 10px; }

main .container .row [class^="col-"] li { font-size: 18px; line-height: 25px; }

main .container .row [class^="col-"] #countries li { text-align: right; padding-right: 15px; }

main .container .row [class^="col-"] #capitals li { text-align: left; padding-left: 15px; }

main .container .row [class^="col-"] .right { text-align: right; padding-right: 15px; }

main .container .row [class^="col-"] .left { text-align: left; padding-left: 15px; }

.col-6 { width: 50%; }
